:root {
  --primary-color: rgb(189, 185, 247);
  --secondary-color: #f5f5f5;
  --text-color: black;
}

.App {
  background-color: var(--primary-color);
  text-align: center;
}

p code {
  color: #940000;
}

p a {
  color: #004a99;
}

.form-control.inputField {
  background-color: var(--secondary-color);
  margin: 0 auto;
  width: 50%;
}

.preview.col {
  background-color: var(--secondary-color);
  border: 2px solid #000000;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  padding: 15px;
}

.preview pre,
.preview code {
  background-color: #ffffff;
}

.preview pre {
  padding: 10px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px 0.1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
