@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

:root {
  --primary-color: rgb(189, 185, 247);
  --secondary-color: #f5f5f5;
  --text-color: black;
  --max-width: 700px;
  --border: 2px solid #000000;
  --border-radius: 5px;
  --links: rgb(2 43 86);
}

.App {
  background-color: var(--primary-color);
  text-align: center;
}

h1.heading {
  font-family: "Orelega One", cursive;
  padding: 20px;
}

p code {
  color: #940000;
}

p a {
  color: var(--links);
}

/* just for borders */
.form-control.inputField,
.preview.col,
.subHeading {
  border-radius: var(--border-radius);
  border: var(--border);
  max-width: var(--max-width);
}

.subHeading {
  background-color: #c5c5c5;
  font-family: "Orelega One", cursive;
  margin: 10px auto 0;
  padding: 10px;
  text-align: center;
}

.form-control.inputField {
  background-color: var(--secondary-color);
  margin: 0 auto 20px;
}

.preview.col {
  background-color: var(--secondary-color);
  margin: 0 auto;
  text-align: left;
  padding: 15px;
}

.preview pre,
.preview code {
  background-color: #ffffff;
}

.preview pre {
  padding: 10px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px 0.1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.line-break {
  white-space: pre-wrap;
}

footer {
  margin: 10px 0 0;
  padding: 15px;
}

footer a {
  color: var(--links);
}
